/* Custom scrollbar styles for light and dark modes */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; 
}

*::-webkit-scrollbar {
  border-radius: 10px; 
}

body.light-mode {
  overflow-x: hidden; /* Disable horizontal scrollbar */
}

body.dark-mode {
  overflow-x: hidden; /* Disable horizontal scrollbar */
}
